{% capture CFH %}{{ content_for_header  }}{% endcapture %}

{% assign isAdmin =false %}
{% if content_for_header contains 'adminBarInjector' %}
  {% assign isAdmin = true %}
{% endif %}
{% if content_for_header contains "previewBarInjector.init();" %}
 {% assign isAdmin = true %}
{% endif %}
{% assign avgOrderValue = 0 %}
{% if customer.orders_count != 0 %}
  {% assign avgOrderValue = customer.total_spent  | divided_by: customer.orders_count | divided_by:100 %}
{% endif %}

<div data-section-id="85272" data-section-type="widget-box" style="padding-top: 0; padding-bottom: 0;">
    <div id="shopify-ali-review-widget" product-id="{{ product.id }}">
        <div class="shop_info" shop-id="{{ shop.id }}" shop-name="{{ shop.domain }}" style="display: none;">
            <div class="reviews"></div>
        </div>

        <iframe class="aliReviewsFrame" widget-id="85272" title="AliReviews" data-ar-src="{{ shop.metafields.alireviews.iframe_domain }}/widget/review-widget?shop_id={{ shop.id }}&widget_id=85272&type_page={{ template }}&product_id={{ product.id }}&isAdminLogin={{ isAdmin }}&star=all&customer_id={{ customer.id }}&product_in_cart={%- for item in cart.items -%}{{ item.product_id }},{%- endfor -%}&num_rand=0&total_order_values={{customer.total_spent | divided_by:100}}&avg_order_value={{ avgOrderValue }}&tag={% for tag in customer.tags %}{{ tag }},{% endfor %}&country={% for address in customer.addresses %}{{ address.country_code }}{% endfor %}&last_purchase={{ customer.last_order.created_at | date: "%Y-%m-%d %H:%M" }}&t={{ shop.metafields.alireviews.timestamp }}&locale={{ request.locale.iso_code }}" height="0" width="100%" frameborder="0" scrolling="no" margin="0">
      
      </iframe>
    </div>
</div>
<!-- 
<section id="shopify-section-alireviews-widget-85272" class="shopify-section index-section index-section--flush">



<div data-section-id="85272" data-section-type="widget-box" style="padding-top: 0; padding-bottom: 0;">
    <div id="shopify-ali-review-widget" product-id="7484638658748">
        <div class="shop_info" shop-id="57970524348" shop-name="gizmoore.com" style="display: none;">
            <div class="reviews"></div>
        </div>

        <iframe class="aliReviewsFrame" widget-id="85272" title="AliReviews" data-ar-src="https://widget.alireviews.io/widget/review-widget?shop_id=57970524348&amp;widget_id=85272&amp;type_page=product&amp;product_id=7484638658748&amp;isAdminLogin=false&amp;star=all&amp;customer_id=&amp;product_in_cart=&amp;num_rand=0&amp;total_order_values=0&amp;avg_order_value=0&amp;tag=&amp;country=&amp;last_purchase=&amp;t=1651425500&amp;locale=en" height="0" width="100%" frameborder="0" scrolling="no" margin="0" src="https://widget.alireviews.io/widget/review-widget?shop_id=57970524348&amp;widget_id=85272&amp;type_page=product&amp;product_id=7484638658748&amp;isAdminLogin=false&amp;star=all&amp;customer_id=&amp;product_in_cart=&amp;num_rand=0&amp;total_order_values=0&amp;avg_order_value=0&amp;tag=&amp;country=&amp;last_purchase=&amp;t=1651425500&amp;locale=en" style="height: 1451px;"></iframe>
    </div>
</div>


</section> -->

{% schema %}
{
    "name": "Review Box 1",
    "tag": "section",
    "class": "index-section index-section--flush"
}
{% endschema %}

